@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.searchText {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 14px;
    font-weight: 400;
}

.appBar {
    color: 84D2C5;
}

.BlogTitle {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.BlogText {
    font-size: large;
    letter-spacing: normal;
    line-height: 1.5;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}